<header class="pageHeader">
  <h3><i class="fa fa-tachometer fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Dashboard' | translate}}</h3>
</header>
<div [@fadeInOut]>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Provinsi</th>
            <th scope="col">Kab/Kota</th>
            <th scope="col">Kecamatan</th>
            <th scope="col">Puskesmas</th>
            <th scope="col">Nama Kapus</th>
            <th scope="col">Nama Barang</th>
            <th scope="col">Qty Dikirim</th>
            <th scope="col">Qty Diterima</th>
            <th scope="col">Status</th>
            <th scope="col">Keterangan</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>
